body   { 
    background-color:rgb(204, 194, 194) ;
    text-align: center;
}

#wrapperParent {
    
    width: 345px;
    height: 70px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 15px;
    border-radius: 4px;
    background: rgb(255, 255, 254);
    text-align: right;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-bottom-color:  rgb(133, 130, 130);
    border-right-color:  rgb(133, 130, 130);
}

#parentImageInput {  
    margin-top: 5px;
    right: 0;
    position: absolute;
    font-weight: bold;
    color: red;
    font-size: 54px; 
}

.fingersImage {
    width: 20px;
    height: 30px;  
    background-size: 20px 30px;
    margin-top: 15px;
    margin-right: 3px;
    display: inline-block;
}

#operators {
    width: 15px;
    height: 15px;  
    background-size: 15px 15px;
    margin-top: 25px;
    display: inline-block;
}

.childImageInput0 {
    background-image: url("pics/0zero.png");
}

.childImageInput1 { 
    background-image: url("pics/1one.png");
}

.childImageInput2 {
    background-image: url("pics/2two.png");
}

.childImageInput3 {
    background-image: url("pics/3three.png");
}

.childImageInput4 { 
    background-image: url("pics/4four.png");
}

.childImageInput5 {
    background-image: url("pics/5five.png");
}

.childImageInput6 { 
    background-image: url("pics/6six.png");
}

.childImageInput7 { 
    background-image: url("pics/7seven.png");
}

.childImageInput8 { 
    background-image: url("pics/8eight.png");
}

.childImageInput9 {
    background-image: url("pics/9nine.png");
}

.grid-container {
    display: inline-grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 5px;
    grid-column-gap: 5px;    
}

button { 
    border-radius: 4px;
    border-color: rgb(133, 130, 130);
    background-color:  rgb(35, 202, 188); 
    outline: none;
    color: rgb(247, 247, 247); 
    width: 83px;
    height: 50px; 
    font-size: 35px;
    border-bottom-color: white;
    border-right-color: white;
}

.pluse {
    height: 100%;
    grid-row: 3 / 5;           
    grid-column: 4 / 5;  
}

.zeroBut {
    width: 100%;
    grid-row: 5 / 6;           
    grid-column: 1 / 3;
}

.childImageInputDivision {
    background-image: url("pics/division.png");
    width: 15px;
    height: 15px;  
    background-size: 15px 15px;
    margin-bottom: 5px;
    display: inline-block;
}

.childImageInputMult {
    background-image: url("pics/mult.png");
    width: 15px;
    height: 15px;  
    background-size: 15px 15px;
    margin-bottom: 5px;
    display: inline-block;
}

.childImageInputDot {
    background-image: url("pics/dot.png");
}

.childImageInputPlus {
    background-image: url("pics/plus.png");
    width: 15px;
    height: 15px;  
    background-size: 15px 15px;
    margin-bottom: 5px;
    display: inline-block;
}

.childImageInputMinus {
    background-image: url("pics/minus.png");
    width: 15px;
    height: 15px;  
    background-size: 15px 15px;
    margin-bottom: 5px;
    display: inline-block;
}
